body{
    text-align: center;
    padding-top: 20px;
    background-color: rgb(42, 42, 42);
    color: rgb(230, 230, 230);
    background-image: url('img/background-arena.jpg');
    background-repeat: no-repeat;
    background-position: center -500px;
    background-size: cover;
}

input[type="button"]{
    padding:  10px 20px;
    background-color: rgb(233, 195, 150);
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 600;
}
input[type="button"]:hover{
    background-color: rgb(250, 210, 162);
    transform:scale(1.1) ;
}

main{
    width: auto;
    max-width: 1400px;
    margin : 0 auto;
}

#start{
    margin: 200px auto;
    font-size: 2rem;
    margin-left;
}

#affichage{
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#affichage div{
    width: 20%;
    background-color: rgb(213, 213, 213);
    color: black;
    border-radius: 5px;
}

#affichage div p div{
    width: 100%;
}

#affichage div p div img{
    width: 50%;
}

table{
    width: 100%;
}

thead{
    text-align: center;
}

th{
    font-size: 1.3rem;
    border-bottom: 1px solid black;
}

tbody tr td:first-child{
    padding-left: 1rem;
    text-align: left;
}

tbody tr td:last-child{
    padding-right: 1rem;
    text-align: right;
}

#fighters div, #opponents div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}